@model N.DB.Models.Note

@using (Html.BeginForm("Save", "Note", FormMethod.Post))
{
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>

    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.Name)
    @Html.HiddenFor(model => model.TagList)
    @Html.HiddenFor(model => model.User)
    @Html.HiddenFor(model => model.File)

    <div class="[ form-group ]" style="margin-top: 1%;">
        @Html.CheckBoxFor(model => model.Flag, new { name = "fancy-checkbox-info", id = "fancy-checkbox-info", style = "display: none;" })

        <div class="[ btn-group ]">
            <label for="fancy-checkbox-info" class="[ btn btn-info ]" onclick="checkBox()" id="image">
                <span class="[ glyphicon glyphicon-ok ]"></span>
                <span> </span>
            </label>
            <label for="fancy-checkbox-info" class="[ btn btn-default active ]" onclick="checkBox()">
                Post this notes
            </label>
        </div>
    </div>

    @Html.TextAreaFor(model => model.Content, new { rows = "18", style = "width:100%; max-width:100%; margin-top: 1%", placeholder = Html.DisplayNameFor(m => m.Content), @class = "form-control input-lg textarea-editor" })

    <input type="submit" value="Save" style="margin-left: 0%; margin-top: 0.5%;" />
}

<script>

    $(document).ready(function () {
        var check_box = document.getElementById("fancy-checkbox-info")

        if (check_box.checked == true) {
            document.getElementById("image").style.display = "normal";
        } else {
            document.getElementById("image").style.display = "none";
        }
    });

    function checkBox() {

        var check_box = document.getElementById("fancy-checkbox-info")

        if (check_box.checked == false) {
            document.getElementById("image").style.display = 'block';
        }
        if (check_box.checked == true) {
            document.getElementById("image").style.display = 'none';
        }
    }

</script>