@model IEnumerable<N.DB.Models.Note>

<h2>Список моих заметок</h2>

<p>
    @Html.ActionLink("Новая заметка", "Input", "Calc")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Flag)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TagList)
        </th>   
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.File)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <th>
                <input type="checkbox" onclick="" id="@item.Id" checked="@item.Flag" />
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.TagList)
            </th>  
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                <button type="button" onclick=""><img src="~/App_LocalResources/download.jpg" style="vertical-align: middle"></button>
                    @*@Html.DisplayFor(modelItem => item.File)*@
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }
</table>